<ion-header>
  <ion-toolbar>
    <ion-title>
      RAGP CashApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
      <a href="https://rechargeandgetpaid.info/">
        <img src="/assets/about.jpeg" alt="" /> </a>
      <ion-card-header>
        <ion-card-title>About RAGP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p>RAGP operates in partnership with the four major networks in Nigeria: Mtn, Glo, 9mobile and Airtel. Incorporated recently into it are Dstv, Gotv and StarTimes, oncoming services include paying for Electricity Bills, Waec, Neco and Jamb etc. Once you join the business, you will have access to a VTU wallet, which you can use to sell airtime (MTN, Airtel, GLO, 9Mobile), data or cable subscription.</p><br>
                                                                                                                                            
<p>Join Us today....No matter what level you registered, you earn the same commissions as other. That is to say that if you registered with basic package #5,000 and referred someone who registered with Platinum package of #100,000 you will receive the bonus of 20% = 20,000 . This is wonderful from RAGP and will help anyone to upgrade faster
</p><br>



<ion-toolbar>
  <ion-title>Our Goal</ion-title>
</ion-toolbar>


<p>Recharge and get paid is setup to provide a wealth creation platform for a variety of people anywhere they find themselves. Our goal is to help you generate the cash flow you need to be financially free in today’s economy.</p><br>

<p>We can accomplish this based on the research we conducted about products(both seasonal and fixed), Among the fixed products VTU  was graded the most productive of all.</p><br>

<p>You can also tap into Telecommunication Oil Well... Just Ask How <br>
RAGP Agent WhatsApp Digit: 08122538308</p>


        

      </ion-card-content>
    </ion-card>
  
  
</ion-content>